<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ordine per Pizzeria Da Michele</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f1f1f1; font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;">
        <tr>
            <td style="background-color:rgb(255, 204, 0); padding: 0 10px;">
                <p>
                    <b>Attenzione:</b> Si prega di non rispondere alla
                presente mail generata da un sistema di invio automatico. Per ulteriori
                informazioni o eventuali richieste contattare <a href="mailto:info@pizzeriadamichele.it" target="_blank"
                    rel="noreferrer">
                    info@pizzeriadamichele.it</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#ffffff" style="border-collapse: collapse; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <tbody>
                    <tr>
                        <td>
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0"
                                style="display:block;min-width:100%!important" >
                                <tbody>
                                    <tr>
                                        <td class="m_-3926768785365665781headerImage" width="100%" align="center"
                                            style="text-align:center; padding: 10px 0 0 0;">
                                            <a href="http://www.pizzeriadamichele.it" target="_blank">
                                                <img width="150" src="http://www.pizzeriadamichele.it/images/logo-pizzeria-da-michele.png">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; color:#303030; font-size:1.8em;">
                            <hr>
                            <p>
                                Ordine da Pizzeria DaMichele,
                                <br>sede <th:block th:text="${order.location.name}"></th:block>
                            </p>
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="padding: 10px; font-family:'Helvetica neue',Helvetica,Arial,Verdana,sans-serif;font-size:14px;line-height:22px;color:#303030;text-align:left">
                            <p>
                                Spett. Le&nbsp;<th:block th:text="${supplier.alias}"></th:block>, 
                                <br>vorremmo effettuare l'ordine di seguito.
                            </p>
                             <hr>
                            <p>
                                Consegnare in&nbsp;<span style="color:#303030; margin:0; margin-bottom:0.5em;"><b><th:block th:text="${order.location.address}"></th:block></b></span>
                            </p>
                           
                            <p th:if="${order.expectedDeliveryDate}">
                                Data di consegna richiesta:&nbsp;
                                <b><th:block th:text="${#temporals.format(order.expectedDeliveryDate,'dd-MM-yyyy')}"></th:block></b>
                                &nbsp;alle&nbsp;
                                <b><th:block th:text="${#temporals.format(order.expectedDeliveryDate,'HH:mm')}"></th:block></b>
                            </p>
                            <p>
                                Ordine&nbsp;#<b><th:block th:text="${order.orderNumber}"></th:block></b>
                                <br>
                                Totale articoli:&nbsp;<b><th:block th:text="${#lists.size(orderItemsBySupplier.items)}"></th:block></b>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="5" cellspacing="0" style="padding: 0 10px;">
                                <thead style="text-align: center; background-color:rgb(229, 229, 234); color: rgb(44, 44, 46);">
                                    <tr>
                                        <th>
                                            Articolo
                                        </th>
                                        <th >
                                            Descrizione
                                        </th>
                                        <th >
                                            Tipo qta.
                                        </th>
                                        <th>
                                            Qta.
                                        </th>
                                        <th>
                                            Note
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item,iter : ${orderItemsBySupplier.items}">
                                    <td style="border-bottom: 1px solid gray;">
                                        <div>
                                            <th:block
                                                    th:text="${item.product.name}"></th:block>
                                        </div>
                                    </td>
                                    <td style="border-bottom: 1px solid gray;">
                                        <div>
                                            <th:block
                                                    th:text="${item.product.description}"></th:block>
                                        </div>
                                    </td>
                                    <td style="border-bottom: 1px solid gray;">
                                        <th:block
                                                th:text="${item.product.quantityType}"></th:block>
                                    </td>
                                    <td style="border-bottom: 1px solid gray;">
                                        <b>
                                            <th:block
                                                    th:text="${item.quantity}"></th:block>
                                        </b>
                                    </td>
                                    <td style="border-bottom: 1px solid gray;">
                                        <i>
                                            <th:block
                                                    th:text="${item.note}"></th:block>
                                        </i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:rgb(58, 58, 60)">
                            <br>
                            <br>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tbody>
                                <tr>
                                    <td style="font-size:14px; color:#ffffff; text-align:center">
                                        <p>
                                        DM S.R.L.
                                        <br>
                                        Via San Donà, 223 - 30174 - Venezia-Mestre, Italia
                                        <br>
                                        P.IVA 04000770273
                                        <br>
                                        <a href="mailto:info@pizzeriadamichele.it"
                                           target="_blank" rel="noreferrer">
                                            info@pizzeriadamichele.it</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px; text-align:center; padding-bottom: 10px; background-color:rgb(229, 229, 234)">
                                        <p>
                                        &copy; <th:block th:text="${#temporals.format(order.audit.createdDate,'YYYY')}"></th:block>
                                        &nbsp;<a href="http://www.pizzeriadamichele.it" target="_blank" rel="noreferrer">http://www.pizzeriadamichele.it</a>
                                        <br>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>