<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html;">
    <style type="text/css" style="display:none;">
        P {
            margin-top: 0;
            margin-bottom: 0;
        }

        .warning-box {
            background-color: rgb(255, 204, 0);
            font-weight: bold;
            padding: 10px;
        }

        .table1 {
            max-width: 1024px;
            padding: 1em;
        }

        .firstDiv {
            padding: 10px;
            background-color: white;
        }

        .secondDiv {
            color: #303030;
            margin: 0;
            margin-bottom: 0.5em;
            font-weight: bold;
            font-size: 1.4em;
        }

        #header-box-wrapper {
            clear: both;

        }

        #header-box-wrapper div {
            float: left;
        }
    </style>
</head>

<body>


    <body>
        <div class="warning-box">
            <p>Attenzione: Si prega di non rispondere alla
                presente mail generata da un sistema di invio automatico. Per ulteriori
                informazioni o eventuali richieste contattare <a href="mailto:info@pizzeriadamichele.it" target="_blank"
                    rel="noreferrer">
                    info@pizzeriadamichele.it</a></p>
        </div>
        <div id="header-box-wrapper">
            <div>
                <img width="80" style="width:120px" data-outlook-trace="F:0|T:2"
                    src="http://www.pizzeriadamichele.it/images/logo-pizzeria-da-michele.png">
            </div>
            <div>
                <span class="firstParaghraphText"
                    style="color:#606060; margin:0; font-size:1.8em; font-weight: 500">Ordine
                    per sede <th:block th:text="${order.location.name}">
                    </th:block></span>
            </div>
        </div>
        <div style="display: block;"></div>
        <hr>

        <div>
            <div class="secondDiv">
                Ordine da consegnare in
                <th:block th:text="${order.location.name}">
                </th:block>
            </div>
            <div style="font-family:verdana">
                Spett. Le <span style="color:#303030; margin:0; margin-bottom:0.5em; font-weight:bold; font-size:1.1em">
                    <th:block th:text="${supplier.alias}">
                    </th:block>
                </span>, <br>
                vorremmo effettuare
                l'ordine di seguito.
            </div>
            <div>Sede:
                <b>
                    <th:block th:text="${order.location.name}">
                    </th:block>
                </b>
            </div>
        </div>





        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">

            <tbody>
                <tr>
                    <td class="table1">
                        <div>
                            <div class="firstDiv">
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td width="80">

                                            </td>
                                            <td style="vertical-align:middle; padding-left:0.6em">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="border-top:1px solid silver; font-size:1px">
                                                    &nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>

                                                                <div>
                                                                    <div style="font-family:verdana">
                                                                        <div
                                                                            style="padding:10px; background-color:#ffffff">


                                                                            <hr>
                                                                            <div>Data di
                                                                                consegna
                                                                                prevista:
                                                                                <b>
                                                                                    <th:block th:text="${#temporals.format(order.expectedDeliveryDate,'dd-MM-yyyy')}"></th:block>
                                                                                                </b>
                                                                                                alle
                                                                                                <b>
                                                                                                    <th:block th:text="${#temporals.format(order.expectedDeliveryDate,'HH:mm')}"></th:block>
                                                                                                </b>
                                                                                            </div>
                                                                                            <div style="margin-top:0.6em">Codice ordine:
                                                                                                <b>
                                                                                                    <th:block th:text="${order.orderNumber}"></th:block>
                                                                                                </b>
                                                                                                - articoli:
                                                                                                <b>
                                                                                                    <th:block th:text="${#lists.size(orderItemsBySupplier.items)}"></th:block>
                                                                                                </b>
                                                                                            </div>
                                                                                        </div>
                                                                                        <table border="1" cellpadding="5" cellspacing="2" style="border:1px solid gray; border-collapse:collapse;width:100%">
                                                                                            <thead>
                                                                                            <tr style="text-align: left;">
                                                                                                <th style="border:1px solid gray; background-color:#f1f1f1">
                                                                                                    <b>Nome</b>
                                                                                                </th>
                                                                                                <th style="border:1px solid gray; background-color:#f1f1f1">
                                                                                                    <b>Descrizione</b>
                                                                                                </th>
                                                                                                <th style="border:1px solid gray; background-color:#f1f1f1">
                                                                                                    <b>Tipo quantita</b>
                                                                                                </th>
                                                                                                <th style="border:1px solid gray; background-color:#f1f1f1">
                                                                                                    <b>Quantita</b>
                                                                                                </th>
                                                                                                <th style="border:1px solid gray; background-color:#f1f1f1">
                                                                                                    <b>Note</b>
                                                                                                </th>
                                                                                            </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                            <tr th:each="item,iter : ${orderItemsBySupplier.items}">
                                                                                                <td style="border:1px solid gray">
                                                                                                    <div>
                                                                                                        <th:block
                                                                                                                th:text="${item.product.name}"></th:block>
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td style="border:1px solid gray">
                                                                                                    <div>
                                                                                                        <th:block
                                                                                                                th:text="${item.product.description}"></th:block>
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td style="border:1px solid gray">
                                                                                                    <th:block
                                                                                                            th:text="${item.product.quantityType}"></th:block>
                                                                                                </td>
                                                                                                <td style="border:1px solid gray">
                                                                                                    <b>
                                                                                                        <th:block
                                                                                                                th:text="${item.quantity}"></th:block>
                                                                                                    </b>
                                                                                                </td>
                                                                                                <td style="border:1px solid gray">
                                                                                                    <b>
                                                                                                        <th:block
                                                                                                                th:text="${item.note}"></th:block>
                                                                                                    </b>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div style="padding-top:10px; text-align:center; background: #f1f1f1">
                                                        <br>
                                                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-size:14px; color:#302f2f; text-align:center">
                                                                    <span>© 2020 DM S.R.L.</span>
                                                                    <br>
                                                                    <span>Via San Donà, 223 </span> -
                                                                    <span>30174 </span>-
                                                                    <span>Venezia-Mestre, Italia
                                                                                </span>
                                                                    <br>
                                                                    <span style="color:gray; font-size:0.6em">&nbsp;
                                                                                    <br>
                                                                                </span>P.IVA 04000770273
                                                                    <br>
                                                                    <span style="color:gray; font-size:0.6em">&nbsp;
                                                                                    <br>
                                                                                </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:12px; color:#302f2f; text-align:center; padding-bottom: 10px;">
                                                                    <a href="http://www.pizzeriadamichele.it" target="_blank" rel="noreferrer">http://www.pizzeriadamichele.it</a> &nbsp;
                                                                    <span style="color:gray">|</span> &nbsp;
                                                                    <a href="mailto:info@pizzeriadamichele.it"
                                                                       target="_blank" rel="noreferrer">
                                                                        info@pizzeriadamichele.it</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
    </body>
    
</body>
</html>